table{
    overflow-x: auto;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td{
    text-align: left;
    padding: 15px;
    border: 1px solid #ddd;
}

th{
    font-weight: 20px;
    background-color: rgb(112, 7, 63);
}

tr:nth-child(even){
    background-color: #965467;
}

tr:nth-child(odd){
    background-color:rgb(125, 3, 51)
}

tr:hover{
    color: whitesmoke;
    background-color: rgb(96, 11, 42);
}